APP_NAME=blog-cache-api
APP_TITLE=Blog Cache API
APP_DESCRIPTION=API для блога с кешированием популярных постов
APP_ENV=local
APP_VERSION=0.1.0
API_VERSION=v1

DATABASE_URL=postgresql+asyncpg://blog_user:blog_password@postgres:5432/blog_cache_db
REDIS_URL=redis://redis:6379/0
POST_CACHE_TTL_SECONDS=300